.head {
    color: #664712;
    text-align: center;
}

.pink {
    background-color: #fe7dbb;
}

.green {
    background-color: #25c51c;
}

.blue {
    background-color: #11dad0;
}

.purple {
    background-color: #7b61ff;

}

#h {
    background-color: #ffb027;
}

#he {
    background-color: #ff3a49;

}

#b {
    background-color: #0b58e9;

}

#c {
    background-color: #ffb027;

}

#n {
    background-color: #ffb027;

}

#o {
    background-color: #ffb027;

}

#f {
    background-color: #ffb027;

}

#ne {
    background-color: #ff3a49;

}

#mg {
    background-color: #800ef0;

}

#al {
    background-color: #16a3d7;

}

#si {
    background-color: #0b58e9;
}

#p {
    background-color: #ffb027;

}

#s {
    background-color: #ffb027;

}

#cl {
    background-color: #ffb027;

}

#ar {
    background-color: #ff3a49;

}


#ca {
    background-color: #800ef0;

}

#ga {
    background-color: #16a3d7;
}

#ge {
    background-color: #0b58e9;

}

#as {
    background-color: #0b58e9;

}

#se {
    background-color: #ffb027;

}

#br {
    background-color: #ffb027;

}

#kr {
    background-color: #ff3a49;

}

#sr {
    background-color: #800ef0;
}

#in {
    background-color: #16a3d7;
}

#sn {
    background-color: #16a3d7;
}

#sb {
    background-color: #0b58e9;
}

#te {
    background-color: #0b58e9;
}

#i {
    background-color: #ffb027;
}

#xe {
    background-color: #ff3a49;
}

#ba {
    background-color: #800ef0;
}

#hf {
    background-color: #fe7dbb;
}

#tl {
    background-color: #51a5ce;
}

#pb {
    background-color: #51a5ce;
}


#bi {
    background-color: #51a5ce;
}

#po {
    background-color: #51a5ce;
}

#at {
    background-color: #51a5ce;
}

#rn {
    background-color: #ff3a49;
}

#ra {
    background-color: #800ef0;
}

#rf {
    background-color: #fe7dbb;
}

#mt {
    background-color: #69bbfb;
}

#ds {
    background-color: #69bbfb;
}

#rg {
    background-color: #69bbfb;
}

#cn {
    background-color: #69bbfb;
}

#nh {
    background-color: #69bbfb;
}

#fl {
    background-color: #69bbfb;
}

#mc {
    background-color: #69bbfb;
}

#lv {
    background-color: #69bbfb;
}

#ts {
    background-color: #69bbfb;
}

#og {
    background-color: #69bbfb;
}